{% extends 'IPSSymfonyProjectBundle::base.html.twig' %}
{% block content%}
                <h1>List of the projects</h1>
                <!-- here ends the main content -->

                <div class="panel-group">
                    {% for project in projects %}
                    <div class="panel panel-primary">
                        <div class="panel-heading"><a href="/show/project/{{project.ID}}"><b style="color:black;">{{project.NAME}}</b></a></div>
                        <div class="panel-body">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                        <td width="70%">
                                            <b>Total Progress: </b>
                                            {% if project.progress<=24 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{project.progress}}"
                                                aria-valuemin="0" aria-valuemax="100" style="width:{{project.progress}}%">
                                                    {{project.progress}}% Complete
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if project.progress>=24 and project.progress<=49 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{project.progress}}"
                                                aria-valuemin="0" aria-valuemax="100" style="width:{{project.progress}}%">
                                                    {{project.progress}}% Complete
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if project.progress<=99 and project.progress>=50 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{project.progress}}"
                                                aria-valuemin="0" aria-valuemax="100" style="width:{{project.progress}}%">
                                                    {{project.progress}}% Complete
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if project.progress==100 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{project.progress}}"
                                                aria-valuemin="0" aria-valuemax="100" style="width:{{project.progress}}%">
                                                    {{project.progress}}% Complete
                                                </div>
                                            </div>
                                            {% endif %}</br>
                                            {{project.COMMENT}}
                                        </td>
                                      <td width="30%">
                                          <a href="/add/section/{{project.ID}}">Add a new section</a></br>
                                          <a href="/show/project/{{project.ID}}">See the details of the project</a></br>
                                          <a href="#">Here a new option to do in the project</a></br>
                                          <a href="#">Here a new option to do in the project</a></br>
                                          <a href="#">Here a new option to do in the project</a></br>
                                          <a href="/project/references/{{project.ID}}">References/Bibliography</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                        </div>
                    </div>
                    </br>
                    {% endfor %}
                </div>
{% endblock %}