<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

        .row.content {
            height: 650px;
        }

        /* Set gray background color and 100% height */

        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */

        footer {
            /* position: fixed; */
            background-color: #555;
            color: white;
            padding: 15px;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */

        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {
                height: auto;
            }
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ResearchLab</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="#">Profile</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p>
                    <a href="/create/project">Create new project</a>
                </p>
                <p>
                    <a href="/edit/projects">Edit Existing projects</a>
                </p>
                <p>
                    <a href="#">Link</a>
                </p>
            </div>
            <div class="col-sm-8 text-left">

                <!-- here starts the main content -->
                <h1>List of the projects</h1>
                <!-- here ends the main content -->

                <div class="panel-group">
                    {% for project in projects %}
                    <div class="panel panel-primary">
                        <div class="panel-heading"><a href="/show/project/{{project.ID}}"><b style="color:black;">{{project.NAME}}</b></a></div>
                        <div class="panel-body">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                        <td width="70%">
                                            <b>Total Progress: </b>
                                            {% if project.progress<=24 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{project.progress}}"
                                                aria-valuemin="0" aria-valuemax="100" style="width:{{project.progress}}%">
                                                    {{project.progress}}% Complete
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if project.progress>=24 and project.progress<=49 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{project.progress}}"
                                                aria-valuemin="0" aria-valuemax="100" style="width:{{project.progress}}%">
                                                    {{project.progress}}% Complete
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if project.progress<=99 and project.progress>=50 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{project.progress}}"
                                                aria-valuemin="0" aria-valuemax="100" style="width:{{project.progress}}%">
                                                    {{project.progress}}% Complete
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% if project.progress==100 %}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{project.progress}}"
                                                aria-valuemin="0" aria-valuemax="100" style="width:{{project.progress}}%">
                                                    {{project.progress}}% Complete
                                                </div>
                                            </div>
                                            {% endif %}</br>
                                            {{project.COMMENT}}
                                        </td>
                                      <td width="30%">
                                          <a href="/add/section/{{project.ID}}">Add a new section</a></br>
                                          <a href="/show/project/{{project.ID}}">See the details of the project</a></br>
                                          <a href="#">Here a new option to do in the project</a></br>
                                          <a href="#">Here a new option to do in the project</a></br>
                                          <a href="#">Here a new option to do in the project</a></br>
                                          <a href="/project/references/{{project.ID}}">References/Bibliography</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                        </div>
                    </div>
                    </br>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>

</body>

</html>